<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.tijiancmsserver.mapper.CiDetailedReportMapper">

    <insert id="saveCiDetailedReport" parameterType="CiDetailedReport">
        insert into ciDetailedReport(
        name,
        unit,
        minrange,
        maxrange,
        normalValue,
        normalValueString,
        type,
        value,
        isError,
        ciId,
        orderId
        ) values
        <foreach collection="list" item="cidr" separator=",">
            (
            #{cidr.name},
            #{cidr.unit},
            #{cidr.minrange},
            #{cidr.maxrange},
            #{cidr.normalValue},
            #{cidr.normalValueString},
            #{cidr.type},
            #{cidr.value},
            #{cidr.isError},
            #{cidr.ciId},
            #{cidr.orderId}
            )
        </foreach>
    </insert>

    <update id="updateCiDetailedReport" parameterType="java.util.List">
        <foreach collection="list" item="cidr" separator=";">
            update ciDetailedReport set value=#{cidr.value},isError=#{cidr.isError} where cidrId=#{cidr.cidrId}
        </foreach>
    </update>

</mapper>