<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.tijiancmsserver.mapper.SetmealMapper">

    <resultMap type="Setmeal" id="setmealResultMap">
        <id column="smId" property="smId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="price" property="price"/>
        <collection property="sdList" ofType="SetmealDetailed"
                    select="com.neusoft.tijiancmsserver.mapper.SetmealDetailedMapper.listSetmealDetailedBySmId" column="smId"></collection>
    </resultMap>

    <select id="getSetmealById" parameterType="int" resultMap="setmealResultMap">
        select * from setmeal where smId=#{smId}
    </select>

</mapper>